SrvScnGeneracionReporte/SrvScnGeneracionReporte-war/web/WEB-INF/wsdl/ContextoRespuestaTipo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.davivienda.com/Esquemas/Framework/ContextoRespuestaTipo/v1"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://www.davivienda.com/Esquemas/Framework/ContextoRespuestaTipo/v1"
	xmlns:ns3="http://www.davivienda.com/Esquemas/Framework/PaginacionTipo/v1"
	xmlns:ns1="http://www.davivienda.com/Esquemas/Framework/ResultadoTransaccionTipo/v1"
	xmlns:ns2="http://www.davivienda.com/Esquemas/Framework/ErrorTipo/v1">
	<xsd:import schemaLocation="ResultadoTransaccionTipo.xsd"
		namespace="http://www.davivienda.com/Esquemas/Framework/ResultadoTransaccionTipo/v1" />
	<xsd:import schemaLocation="ErrorTipo.xsd"
		namespace="http://www.davivienda.com/Esquemas/Framework/ErrorTipo/v1" />
	<xsd:import schemaLocation="PaginacionTipo.xsd"
		namespace="http://www.davivienda.com/Esquemas/Framework/PaginacionTipo/v1" />
	<xsd:complexType name="ContextoRespuestaTipo">
		<xsd:sequence>
			<xsd:element name="resultadoTransaccion" type="ns1:ResultadoTransaccionTipo" />
			<xsd:element name="error" type="ns2:ErrorTipo" minOccurs="0" />
			<xsd:element name="paginacion" type="ns3:PaginacionTipo"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>