ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnNotificacionesMail/v1_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/Framework/PreguntaSeguridadTipo/v1" elementFormDefault="qualified" xmlns:ns0="http://www.davivienda.com/Esquemas/Framework/PreguntaSeguridadTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PreguntaSeguridadTipo">
    <xsd:sequence>
      <xsd:element name="idPregunta" type="xsd:integer"/>
      <xsd:element name="valPregunta" type="xsd:string"/>
      <xsd:element name="idRespuesta" type="xsd:integer"/>
      <xsd:element name="valRespuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>