ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnNotificacionesMail/v1_1_2_3_4_5_6_7_8_9_10_11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/Persona/ClienteNaturalTipo/v1" elementFormDefault="qualified" xmlns:ns1="http://www.davivienda.com/Esquemas/Persona/PersonaNaturalTipo/v1" xmlns:ns0="http://www.davivienda.com/Esquemas/Persona/ClienteNaturalTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="v1_1_2_3_4_5_6_7_8_9_10_11_12.xsd" namespace="http://www.davivienda.com/Esquemas/Persona/PersonaNaturalTipo/v1"/>
  <xsd:complexType name="ClienteNaturalTipo">
    <xsd:complexContent>
      <xsd:extension base="ns1:PersonaNaturalTipo">
        <xsd:sequence>
          <xsd:element name="codEmpresaAsociada" type="xsd:string" minOccurs="0"/>
          <xsd:element name="valNombreEmpresaAsociada" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>