ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnNotificacionesMail/v1_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/Framework/PersonaTipo/v1" elementFormDefault="qualified" xmlns:ns1="http://www.davivienda.com/Esquemas/Framework/ContactoTipo/v1" xmlns:ns0="http://www.davivienda.com/Esquemas/Framework/PersonaTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="v1_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd" namespace="http://www.davivienda.com/Esquemas/Framework/ContactoTipo/v1"/>
  <xsd:complexType name="PersonaTipo">
    <xsd:sequence>
      <xsd:element name="codTipoIdentificacion" type="xsd:string"/>
      <xsd:element name="valNumeroIdentificacion" type="xsd:string"/>
      <xsd:element name="valNombre" type="xsd:string"/>
      <xsd:element name="contacto" type="ns1:ContactoPersonaTipo" minOccurs="0"/>
      <xsd:element name="valNaturaleza" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>