ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnNotificacionesMail/v1_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/Framework/TerminalTipo/v1" elementFormDefault="qualified" xmlns:ns0="http://www.davivienda.com/Esquemas/Framework/TerminalTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TerminalTipo">
    <xsd:sequence>
      <xsd:element name="idTerminal" type="xsd:int"/>
      <xsd:element name="valOrigenPeticion" type="xsd:string"/>
      <xsd:element name="codUsuario" type="xsd:string"/>
      <xsd:element name="valPerfil" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>