ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnGestorFileNet/v1_1_2_3_4_5_6_7_8_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/Framework/HuellaDigitalDispositivoTipo/v1" elementFormDefault="qualified" xmlns:ns0="http://www.davivienda.com/Esquemas/Framework/HuellaDigitalDispositivoTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="HuellaDigitalDispositivoTipo">
    <xsd:sequence>
      <xsd:element name="idBeacon" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHuellaDispositivo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valTokenCookie" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valTokenFSO" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHttpAccept" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHttpAcceptChars" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHttpAcceptEncoding" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHttpAcceptLanguage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valHttpReferrer" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valIpAddress" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valUserAgent" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>