ComunesGeneradorReporte/src/META-INF/wsdl/SrvScnGestorFileNet/v1_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033.--><xsd:schema targetNamespace="http://www.davivienda.com/Esquemas/FileNet/PropiedadTipo/v1" elementFormDefault="qualified" xmlns:ns0="http://www.davivienda.com/Esquemas/FileNet/PropiedadTipo/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PropiedadTipo">
    <xsd:sequence>
      <xsd:element name="valLlave" type="xsd:string"/>
      <xsd:element name="valValor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>