ComunesGeneradorReporte/src/com/davivienda/generarReporte/servicios/saldosCtaCte/ConsultarSaldoCuentaCorrienteII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT.--><xs:schema version="1.0" targetNamespace="http://consultasaldocuentacorriente.servicio.procesadortransacciones.davivienda.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://consultasaldocuentacorriente.servicio.procesadortransacciones.davivienda.com/">
  <xs:element name="ServicioException" type="tns:ServicioException"/>
  <xs:element name="consultaSaldoCuentaCorriente" type="tns:consultaSaldoCuentaCorriente"/>
  <xs:element name="consultaSaldoCuentaCorrienteResponse" type="tns:consultaSaldoCuentaCorrienteResponse"/>
  <xs:complexType name="consultaSaldoCuentaCorriente">
    <xs:sequence>
      <xs:element name="dto" type="tns:consultaSaldoCuentaCorrienteIIDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaSaldoCuentaCorrienteIIDto">
    <xs:complexContent>
      <xs:extension base="tns:parametrosDeTransaccionBaseDTO">
        <xs:sequence>
          <xs:element name="indicadorProducto" type="xs:short" minOccurs="0"/>
          <xs:element name="numeroCuenta" type="xs:string" minOccurs="0"/>
          <xs:element name="talon" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="parametrosDeTransaccionBaseDTO">
    <xs:sequence>
      <xs:element name="canal" type="xs:short" minOccurs="0"/>
      <xs:element name="host" type="xs:int" minOccurs="0"/>
      <xs:element name="idTarea" type="xs:string" minOccurs="0"/>
      <xs:element name="identificadorOperacion" type="xs:string" minOccurs="0"/>
      <xs:element name="identificadorSesion" type="xs:string" minOccurs="0"/>
      <xs:element name="jornada" type="xs:short" minOccurs="0"/>
      <xs:element name="llaveRepetitivaConsulta" type="tns:campoExtendidoDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="modoDeOperacion" type="xs:short" minOccurs="0"/>
      <xs:element name="origenLog" type="xs:string" minOccurs="0"/>
      <xs:element name="parametrosSeguridad" type="tns:parametrosSeguridadDTO" minOccurs="0"/>
      <xs:element name="perfil" type="xs:short" minOccurs="0"/>
      <xs:element name="segundaClave" type="xs:string" minOccurs="0"/>
      <xs:element name="total" type="xs:int" minOccurs="0"/>
      <xs:element name="usuario" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="campoExtendidoDto">
    <xs:complexContent>
      <xs:extension base="tns:campoDto">
        <xs:sequence>
          <xs:element name="JMascara" type="xs:string" minOccurs="0"/>
          <xs:element name="PMascara" type="xs:string" minOccurs="0"/>
          <xs:element name="valor" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="campoDto">
    <xs:sequence>
      <xs:element name="caracterRelleno" type="xs:string" minOccurs="0"/>
      <xs:element name="esAuditable" type="xs:boolean" minOccurs="0"/>
      <xs:element name="esEncabezado" type="xs:boolean" minOccurs="0"/>
      <xs:element name="esLlaveDeRepetitivo" type="xs:boolean" minOccurs="0"/>
      <xs:element name="esParametro" type="xs:boolean" minOccurs="0"/>
      <xs:element name="esRepetitivo" type="xs:boolean" minOccurs="0"/>
      <xs:element name="idCampo" type="xs:long" minOccurs="0"/>
      <xs:element name="idCampoLlaveRepetitiva" type="xs:long" minOccurs="0"/>
      <xs:element name="idFormato" type="xs:long" minOccurs="0"/>
      <xs:element name="iniciaEnCeros" type="xs:boolean" minOccurs="0"/>
      <xs:element name="justificacion" type="xs:short" minOccurs="0"/>
      <xs:element name="longitud" type="xs:int" minOccurs="0"/>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreAtributoDto" type="xs:string" minOccurs="0"/>
      <xs:element name="posicionInicial" type="xs:int" minOccurs="0"/>
      <xs:element name="tipoDato" type="xs:string" minOccurs="0"/>
      <xs:element name="valorActual" type="xs:string" minOccurs="0"/>
      <xs:element name="valorPorDefecto" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametrosSeguridadDTO">
    <xs:sequence>
      <xs:element name="debeRevalidarToken" type="xs:boolean"/>
      <xs:element name="debeValidarSegundaClave" type="xs:boolean"/>
      <xs:element name="idSesionToken" type="xs:string" minOccurs="0"/>
      <xs:element name="usaToken" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaSaldoCuentaCorrienteResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:respuestaConsultaSaldoCuentaCorrienteIIDto" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaConsultaSaldoCuentaCorrienteIIDto">
    <xs:complexContent>
      <xs:extension base="tns:respuestaDeTransaccionBaseDTO">
        <xs:sequence>
          <xs:element name="cuenta" type="xs:string" minOccurs="0"/>
          <xs:element name="diasSobregiro" type="xs:int" minOccurs="0"/>
          <xs:element name="disponible" type="xs:decimal" minOccurs="0"/>
          <xs:element name="disponibleRemesas" type="xs:decimal" minOccurs="0"/>
          <xs:element name="disponibleSobregiro" type="xs:decimal" minOccurs="0"/>
          <xs:element name="indicadorMulticuenta" type="xs:short" minOccurs="0"/>
          <xs:element name="interesSobregiro" type="xs:decimal" minOccurs="0"/>
          <xs:element name="numeroCupoSobregiro" type="xs:long" minOccurs="0"/>
          <xs:element name="numeroDiasMoraSobregiro" type="xs:short" minOccurs="0"/>
          <xs:element name="saldoCanje" type="xs:decimal" minOccurs="0"/>
          <xs:element name="saldoCanjePlaza" type="xs:decimal" minOccurs="0"/>
          <xs:element name="saldoCongeladoPorEmbargo" type="xs:decimal" minOccurs="0"/>
          <xs:element name="saldoTotal" type="xs:decimal" minOccurs="0"/>
          <xs:element name="signoDisponible" type="xs:string" minOccurs="0"/>
          <xs:element name="signoSaldoTotal" type="xs:string" minOccurs="0"/>
          <xs:element name="usadoRemesas" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="respuestaDeTransaccionBaseDTO">
    <xs:sequence>
      <xs:element name="caracterAcepta" type="xs:string" minOccurs="0"/>
      <xs:element name="codMRespuesta" type="xs:short" minOccurs="0"/>
      <xs:element name="consecutivo" type="xs:int" minOccurs="0"/>
      <xs:element name="llaveRepetitivoSiguienteTrama" type="tns:campoExtendidoDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MRespuesta" type="xs:string" minOccurs="0"/>
      <xs:element name="numeroLineas" type="xs:short" minOccurs="0"/>
      <xs:element name="respuestaOriginal" type="xs:string" minOccurs="0"/>
      <xs:element name="tieneMasRegistros" type="xs:boolean" minOccurs="0"/>
      <xs:element name="total" type="xs:int" minOccurs="0"/>
      <xs:element name="ultimoMensaje" type="xs:short" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServicioException">
    <xs:sequence>
      <xs:element name="codMRespuesta" type="xs:short" minOccurs="0"/>
      <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="total" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>